[Reference](https://medium.com/plumbersofdatascience/etl-rest-api-using-python-flask-c8171ac925c5)

# Create a REST API

In [1]:
#etl_api_call.py file

from flask import Flask, jsonify, request
from etl import etl_data_obj
import random

app= Flask(__name__)

list_dept=[10,20,30]

@app.route('/etl',methods='GET')
def get_data():
  if request.method == 'GET':
      d=etl_data_obj.get_details(random.choice(list_dept))
      print('value returned', d)
      return jsonify(d)

if __name__=="__main__":
   app.run(host="0.0.0.0",port=5000,debug=True)

In [3]:
#etl.py file

import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('oracle://scott:scott@oracle', echo=False)

class etl_data:
   def __init__(self,dept) -> None:
     self.dept=dept
     print('dept value',self.dept)

  def get_details(self,dept):
     print('dataframe value',dept)
     emp_df=pd.read_sql_query('select empno,ename,sal,deptno from emp',engine)
     emp_df.head(10)
     emp_df=emp_df[emp_df['deptno']==dept]
     print(emp_df.head(5))
     group_cols=['EMPNO','ENAME']
     emp_dict=emp_df.to_dict(orient='index')
     return emp_dict

etl_data_obj=etl_data('00')